*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#folder
libproject/
appcompat_v7/
google-play-services/*
build/appcompat_v7/*
build/.meta*
build/.metadata/*
android-support-v7-appcompat/
google-play-services_lib/
build/24Eats/bin/24Eats.apk